@use '../abstract/mixin' as mx;


.game-page {
    background-color: rgba(48, 49, 49, 1);
    font-family: "Red Rose", sans-serif;
    color: rgba(255, 255, 255, 1);
}


header {
    background-color: #4DD5BC33;
    @include mx.flex-space;
    margin: 25px 25px;
    height: 80px;

    .header-left {
        gap: 25px;
        background-color: rgba(134, 233, 214, 0.3);
        height: 35px;
        width: 250px;
        @include mx.flex-center;
       

        &__first {
            @include mx.flex-center;
            color: rgba(43, 177, 255, 1);
            font-weight: 700;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("../assets/label.svg") no-repeat center/contain;;
                margin-right: 8px;
            }
        }

          &__second {
            @include mx.flex-center;
            color: rgba(245, 142, 57, 1);
            font-weight: 700;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("../assets/label2.svg") no-repeat center/contain;
                margin-right: 8px;
            }
        }
    }

    .header-middle p {
        font-size: 16px;
        font-weight: 400;
    }
}

.game-board {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;


    .card {
        background: white;
        cursor: pointer;
    }
}

.grid-4x4 {
    grid-template-columns: repeat(4, 120px);
}

.grid-6x4 {
    grid-template-columns: repeat(6, 120px);
}

.grid-9x4 {
    grid-template-columns: repeat(9, 120px);
}

.theme-code {

    .game-board {

        .card, .card img{
            width: 120px;
            height: 120px;
        }
    }
}

.theme-da {

    .game-board {
        
        .card, .card img {
            width: 120px;
            height: 100px;
        }
    }
}




