@use '../abstract/mixin' as mx;


.game-page {
    background-color: rgba(48, 49, 49, 1);
    font-family: "Red Rose", sans-serif;
    color: rgba(255, 255, 255, 1);
}


header {
    background-color: #4DD5BC33;
    @include mx.flex-space;
    margin: 25px 25px;
    height: 80px;

    .header-left {
        gap: 25px;
        background-color: rgba(134, 233, 214, 0.3);
        height: 35px;
        width: 250px;
        @include mx.flex-center;
       
        &__first {
            @include mx.flex-center;
            color: rgba(43, 177, 255, 1);
            font-weight: 700;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("../assets/label.svg") no-repeat center/contain;;
                margin-right: 8px;
            }
        }

        &__second {
            @include mx.flex-center;
            color: rgba(245, 142, 57, 1);
            font-weight: 700;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("../assets/label2.svg") no-repeat center/contain;
                margin-right: 8px;
            }
        }
    }
}


.header-middle {
    p {
        font-size: 16px;
        font-weight: 400;
        gap: 8px;
        display: flex;
        justify-content: center;

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background-size: 40px 40px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &.blue p::after {
        background-image: url("../assets/label.svg") ;
    }

    &.orange p::after {
        background-image: url("../assets/label2.svg");
        }
    }


.game-board {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
    }

.card {
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;

    &.open {
        transform: rotateY(180deg);
    }

    &__front,  &__back {
        inset: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    &__front {
        transform: rotateY(180deg)
    }

    &__back {
        transform: rotateY(0deg);
    }
}

.grid-4x4 {
    grid-template-columns: repeat(4, 120px);
}

.grid-6x4 {
    grid-template-columns: repeat(6, 120px);
}

.grid-9x4 {
    grid-template-columns: repeat(9, 120px);
}

.theme-code .card {
    width: 120px;
    height: 120px;
}

.theme-da .card {
    width: 120px;
    height: 120px;
}

.card img {
    width: 100%;
    height: 100%;
}

.dialog {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    
    @include mx.flex-center;

    &.hidden {
        display: none;
    }

    &__content {
        font-size: 40px;
        background: white;
        color: black;
        padding: 32px;
        border-radius: 12px;
        text-align: center;
        width: 500px;
        height: 225px;
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        height: 40px;
    }

    &__no {
        border: 2px solid rgba(231, 28, 79, 1);
        border-radius: 10px;
        width: 200px;
        background-color: rgba(237, 27, 118, 1);
        color: white;
        cursor: pointer;

        &:hover {
            color: rgba(237, 27, 118, 1);
            background-color: white;
        }
    }

    &__yes {
        width: 175px;
        border: 2px solid rgba(231, 28, 79, 1);
        border-radius: 10px;
        background-color: #ffc0cb7d;
        cursor: pointer;
    
        &:hover {
            border: 3px solid rgba(231, 28, 79, 1);
 
        }
    }
}