@use '../abstract/mixin' as mx;

.play-btn {
    background-color: rgba(240, 234, 110, 1);
    font-family: "Red Rose", sans-serif;
    margin: 0 auto;
    height: 85px;
    gap: 15px;
    width: 225px;
    color: rgba(48, 49, 49, 1);
    transition: transform 0.4s ease;
    text-decoration: none;

    @include mx.flex-center;

    &:hover {
        width: 245px;
        cursor: pointer;
        transform: scaleX(1.04);
    }

    img {
        width: 40px;
        transition: transform 0.4s ease;
    }

    span {
        font-size: 40px;
        font-weight: 600;
    }

    .d_none {
        display: none;
    }

    &:hover {
        .controller  {
            transform: rotate(-25deg);
        }

       .d_none {
            display: block;
       }

       .d_block {
            display: none;
       }
    }
}

.theme-code {
    .exit-button {
        background-color: rgba(134, 233, 214, 0.3);
        color: rgba(255, 255, 255, 1);
        gap: 10px;
        height: 40px;
        width: 150px;
        border: 3px solid rgba(77, 213, 188, 1);
        font-family: "Red Rose", sans-serif;
        font-size: 18px;
        font-weight: bolder;
        
        @include mx.flex-center;
    }
}

.theme-da {
    .exit-button {
        color: rgba(30, 117, 148, 1);
        background-color: rgba(191, 229, 242, 1);
        gap: 10px;
        height: 40px;
        width: 150px;
        font-family: "Red Rose", sans-serif;
        font-size: 18px;
        font-weight: bolder;
        border: none;
        border-radius: 10px;
        
        @include mx.flex-center;
    }
}

.restart-game {
    height: 50px;
    width: 150px;
    color: white;
    font-size: 20px;
    background-color: rgb(24, 81, 131);
    border: 3px blue solid;
    text-align: center;
}